.App {
  min-height: 100vh;
  background-color: #282c34;
}

.bodycontainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-section {
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */
  overflow-wrap: break-word;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  width: 80%;
  align-items: center;
}
.article-title {
  color: #444444;
  text-decoration: none;
}

.article-title:hover {
  color: #bdbdbd;
  text-decoration: none;
}

.articles-container {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-width: 1000px;
  width: 50%;
  /* font-size: calc(10px + 2vmin); */
}

.search-bar {
  width: 80%;
  border: none;
  padding: 10px;
  margin-bottom: 3vh;
  border-radius: 5px;
}

.title {
  color: white;
}

table,
th,
td {
  width: 100%;
  color: white;
  /* border: 2px solid white; */
}
th,
td {
  padding: 10px 10px 10px 10px;
}

.leftcol {
  text-align: left;
}
